@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url('https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg');
  display: flex;
  /* background-size: cover; */
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  /* linear-gradient(to bottom, gray, darkgray) okay using this, figure out how to overlay a gradient over an background image. why didn't this work? tried it in the backgroud-image: property */
}

.top {
  display: flex;
}

header {
  width: 70vw;
  height: 10vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  position: sticky;
  top: 0;
}

/* start nav section */
nav {
  width: 30vw;
  height: 10vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  padding: 2vw;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.closed {
  display: none;
  opacity: 0;
  transition: opacity 1s, top 1s;
}

@keyframes drop {
  0% {
    transition: rotate(0, 100%);
  }

  100% {
    transform: rotate(0);
  }
}



.open {
  background-color: whitesmoke;
  position: absolute;
  color: black;
  width: 100%;
  height: 10vh;
  right: -1vw;
  top: 10vh;
  opacity: 1;
  transition: opacity 1s, top 1s;
  animation-name: drop;
  animation-duration: .25s;
  animation-timing-function: linear;
}

ul {
  position: absolute;
  top: 100px;
  left: 35px;
  font-size: 22px;
  text-align: left;
  padding-right: 5px;
  animation-name: drop;
  animation-duration: .15s;
}

.nav-button {
  width: 50px;
  height: 30px;
  background-color: whitesmoke;
  color: #64a19d;
  border: 1px solid #64a19d;
  border-radius: 10px;
  position: absolute;
  margin-top: 2vh;
  margin-right: 5vw;
}
/* end nav section */


.grayscale-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  font-family: "Nunito", sans-serif;
}

.grayscale {
  font-size: 3em;
  background: -webkit-linear-gradient(white, gray, black);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;

}

h2 {
  font-size: 1.2rem;
  color: silver;
  width: 250px;
  text-align: center;
  margin: 10px;
}

.get-started {
  height: 40px;
  width: 100px;
  background-color: #64a19d;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 480px) {
  .horizontal-menu{
    display: none;
  }
}
@media (min-width: 480px) { 
  .horizontal-menu {
    display: none;
  }
} 

@media (min-width: 780px) {
  header, nav {
    background-color: transparent;
  }
  .nav-button {
    display: none;
  }
  .horizontal-menu {
    height: 10vh;
    width: 30vw;
    display: flex;
    justify-content: space-between;
  }
  .grayscale-content{
    height: 80vh;
    width: 90vw;
  }
  
} 
